.recipe { display: flex;
    padding: 5px;
    margin: auto;
    margin-top: 5px;
    width: 50%;
    text-align: left;
}

.recipeImg {
    width: 50%;
    background: white;
}

.recipeContent {
    background: grey;
    width: 70%;
}

.displayAllRecipe {
    display: block;
}