<div class="form">
        <h1>Connexion</h1>
        <div>
                <div class="formInputLabel">
                        <label>Username :</label>    
                        <input type="text" id="login"  name="login">
                </div>
                <div class="formInputLabel">
                        <label>Password :</label>
                        <input type="password" id="password"  name="password">
                </div>
                <div class="formConnexionbuttons">
                        <button (click)="login()" STYLE="text-transform:capitalize" >Connexion</button>
                        <button (click)="sign()" STYLE="text-transform:capitalize" >Créer un compte</button>
                        <div *ngIf="error">
                                Erreur, l'identifiant ou le mot de passe est mal renseigner
                        </div>
                </div>
                

        </div>
</div>