
.header {
  background-color: #FE8B72;
  width: 100%;
  height: 90px;
  display: flex;
}

.headerElement {
  width: 25%;
  text-align: center;
}

.headerElement:hover {
  background: orange;
}

.headerElement p {
  margin-top:  30px;
}



