<div id="pageContent">
    <h1>Votre panier</h1>
    <br>

    <div class="displayAllRecipe">
        <div class="recipe" *ngFor="let recipe of cartList">
            <div class="recipeImg">
                <!--img [src]="'http://localhost:3000/images/img/{{recipe.photo}}'"-->
            </div>

            <div class="recipeContent">
                <h2>{{recipe.recipe.tittle}}</h2>
                <br>
                Quantité :
                <span class="changeQuantity" (click)="reduceQuantity(recipe.id)"> - </span>
                {{recipe.quantity}}
                <span class="changeQuantity" (click)="augmentQuantity(recipe.id)"> + </span>
                <br>
                Description : {{recipe.recipe.description}}
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="activity==='neutre'">
        Prix du panier : {{price}} €<br>
        <button  (click)="askModif()">Enregistrer</button><br>
        <button  (click)="return()">Retour</button><br>

    </div>
    <div *ngIf="activity==='askModif'">
        Etes vous sur de vouloir enregistrer les modifications ?
        <br><button  (click)="modif()">Valider</button>
        <button  (click)="neutral()">Annuler</button>
    </div>
    <div *ngIf="activity==='askDel'">
        Etes vous sur de vouloir supprimer {{deleting.recipe.tittle}} ?
        <br><button  (click)="deleteCartContent()">Valider</button>
        <button  (click)="neutral()">Annuler</button>
    </div>
    <div *ngIf="activity==='good'||activity==='error'">
        {{valideMessage}}<br>
        <button  (click)="neutral()">Retour</button><br>
    </div>
</div>
