<h1>Création du compte</h1>
<span *ngIf="activity==='1'">
    Prénom : <input type="text" id="surname" value=""><br>
    Nom : <input type="text" id="name" value=""><br>
    Date de naissance : <input type="date" id="birthdate" value=""><br>
    Adresse mail : <input type="text" id="email" value=""><br>
    <button (click)="switch1To2()" STYLE="text-transform:capitalize" >Suivant</button><br>
</span>
<span *ngIf="activity==='2'">
    Adresse : <br>
    Numeros : <input type="number" id="number" value=""><br>
    Rue : <input type="text" id="street" value=""><br>
    Code Postal : <input type="text" id="postalCode" value=""><br>
    Ville : <input type="text" id="town" value=""><br>
    Pays : <input type="text" id="country" value=""><br>
    <button (click)="switch2To3()" STYLE="text-transform:capitalize" >Suivant</button><br>
</span>
<span *ngIf="activity==='3'">
    Identifiant : <input type="text" id="login" value=""><br>
    Mot de passe : <input type="text" id="mdp" value=""><br>
    <button (click)="sub()" STYLE="text-transform:capitalize" >Création du compte</button><br>
</span>
<button (click)="log()" STYLE="text-transform:capitalize" >Se connecter</button><br>
<app-return></app-return>