/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font: arial;
    font-size: 25px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    font-size: 45px !important;
    text-align: center;
    font-weight: bold;
}

input, button {
    border : 3px solid orange;
    border-radius: 5px;
    background: #FE8B72;
}

#pageContent {
    margin: auto;
    width: 75%;
    text-align: center;
    padding-top: 50px;
}

.form {
    margin: auto;
    width: 50%;
    text-align: right;
    padding-top: 50px;
}

.formInputLabel {
    padding: 20px;
}

.formInputLabel label, input {
    font-size: 30px;
    padding-right: 10px;
}

.formInputLabel input {
    border: 3px solid orange;
    border-radius: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.recipe { display: flex;
    background: red;
    padding: 5px;
    margin: auto;
    margin-top: 5px;
    width: 50%;
    text-align: left;
}

.recipeImg {
    width: 50%;
    background: blue;
}

.recipeContent {
    background: yellow;
    width: 70%;
}

.displayAllRecipe {
    display: block;
}

#profileMenu div , app-user-base div, #toolList div, #adminRecipeList div{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    background: #FE8B72;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    height: 50px;
    padding-top: 25px;
}

#profileMenu div:hover , app-user-base div, #toolList div, #adminRecipeList div{
    background: orange;
}