<h2>Bienvenue {{user.login}}</h2><br>
<h3>Création d'un promo</h3><br>
<div *ngIf="activity!=='valider'">
    Nom : <input type="text" id="promoNameCreate" name="promoNameCreate"><br>
    prix : <input type="text" id="promoPrixCreate" name="promoPrixCreate">€<br><br>    
    Type : <input type="text" id="promoTypeCreate" name="promoPrixCreate">€<br><br>    
    Date de debut : <input type="date" id="promoDateStartCreate" name="promoDateStartCreate"><br><br>    
    Date de fin : <input type="date" id="promoDateEndCreate" name="promoDateEndCreate"><br><br>    
    <span *ngIf="listeProduct.length===0&&listeMenu.length===0">Contenu : Aucun produit dans la promo<br></span>    
    <span *ngIf="listeProduct.length!==0||listeMenu.length!==0">Contenu : <br>
        <span *ngFor="let product of listeProduct">{{product.name}} : {{product.type[0]}}  <button (click)="removeProduct(product.id)">Retirer</button><br></span>
        <span *ngFor="let menu of listeMenu">{{menu.name}} : Menu  <button (click)="removeMenu(menu.id)">Retirer</button><br></span>
    </span>
    Produit à ajouter :
    <select #p id="listForPromo">
        <option *ngFor="let product of listeAllProduct" [value]="product.id">{{product.name}} : {{product.type[0]}}</option>
        <option *ngFor="let menu of listeAllMenu" [value]="menu.id">{{menu.name}} : Menu</option>
    </select><br>
    <button (click)="addtoMenu()">Ajouter ce produit</button>
    <button (click)="createPromo()">Crer cete promo</button>
    <button (click)="backToNeutral()">Retour</button>
</div>
<div *ngIf="activity==='valider'">
    <span >{{valideMessage}}<br></span>
    <button (click)="backToNeutral()">OK</button>
</div>